#header {
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerText {
    margin-left: 10px;
    font-size: 30pt;
    text-align: left;
    z-index: 2;
}
@media only screen and (min-width : 768px) {
    .headerText {
        font-size: 50pt;
    }
}

.headerText span {
    background-color: #000;
}

#selfie {
    border-radius: 7%;
    width: 100px;
    height: auto;
    align-self: center;

    z-index: 2;
}
@media only screen and (min-width : 768px) {
    #selfie {
        width: 220px;
    }
}

#navBar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.sideFloaters {
    display: none;
}
@media only screen and (min-width : 768px) {
    .sideFloaters {
        display: block;
    }
}

.floater {
    height: auto;
    width: 30px;
    animation: float 6s ease-in-out infinite;
    z-index: 1;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
  
.blinker {
    color: #3cb0fd;
    font-weight: 500;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #3cb0fd;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #3cb0fd;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #3cb0fd;
    }
}

@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
    color: #3cb0fd;
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #3cb0fd;
    }
}
