html {
    overflow-x: hidden; 
}

body {
    overflow-x: hidden;
    position: relative;
    background: #dfdfdf;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
